
.toggle {
    border-radius: 4px;
    background-color: #43a2e8;
    padding: 10px;
    color: #1a1a1a;
}
.toggle:hover {
    background-color: #4dabf5;
}

.css-uobg7u-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    background-color: #6eaf6e;
}



